BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 120
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
IndentCaseLabels: true
IndentExternBlock: Indent
